.fixed_page{
	width: 1100px; 
	margin: auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

hr{
	border-top: 1px solid rgb(230, 62, 32);
}

b{
	color: rgb(230, 62, 32);
}

.energy_map_container{
	width: 100%;
	margin-bottom: 20px;
}

.energy_chart_container {
	width: 77%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.rank_chart_container {
	width: 100%; 
}

.parallel_chart_container {
	margin-top: 10px;  
	width: 100%; 
	margin-bottom: 10px;
}

.heat_map_container {
	width: 100%;
	margin-top: 10px;
}

.scatterplot_container{
	width: 100%;
	margin-top: 20px; 
	margin-bottom: 20px;
}

.pie_chart_container{
	margin-top: 20px;
	width: 100%;
}

.square{
	height: 38px;
	width: 40px;
	background-color: rgb(230, 62, 32);
	padding: 0px;
	margin-right: 0px; 
}

.titlenumber-1{
	position: relative;
	left: 15px;
	top: 5px;
	color: white;
	text-align: center;
	font-size: 25px;
}


.titlenumber{
	position: relative;
	left: 12px;
	top: 5px;
	color: white;
	text-align: center;
	font-size: 25px;
}

h1{
	font-size: 40px; 
	color: rgb(230, 62, 32); 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-size: 25px;
	color: rgb(230, 62, 32); 
	padding-top: 2px;
	margin-top: 5px;
	margin-bottom: 5px; 
	font-weight: bold;
	  
}

p{
	text-align: justify;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px; 
}

/* Section 1 */

.grid-1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50px auto;
}
  
.title-sub-div{
	display: grid;
	grid-template-columns: 48px auto;
	margin: 0px; 
}
.number{
	grid-column: 1;
	width: 40px;
}

.subtitle{
	grid-column: 2;
}

.column-1-title {
	grid-column: 1;
	grid-row: 1;
	padding-right: 30px;
}

.column-1-text {
	grid-column: 1;
	grid-row: 2;
	padding-right: 30px;
}
.column-2-title {
	grid-column: 2;
	grid-row: 1;
}
.column-2-text {
	grid-column: 2;
	grid-row: 2;
}

/* Section 2 */
.grid-2 {
	margin-top: 40px;
	display: grid;
	grid-template-rows: 40px auto auto;
	margin-bottom: 30px;
}

.vertical-1{
	grid-row: 1;
}

.title-sub-div-2{
	display: grid;
	grid-template-columns: 48px auto;
	margin: 0px; 
}

.vertical-2{
	margin-top: 10px;
	grid-row: 2;
}

.vertical-3{
	grid-row: 3;
	display: grid; 
	grid-template-columns: auto auto;
}

.ver-3-col-1{
	grid-column: 1;
	padding-right: 30px;
}

.ver-3-col-2{
	grid-column: 2;
}



/* Section 3 */
.grid-3{
	display: grid;
	grid-template-columns: 60% auto;
	grid-template-rows: 53% auto;
	margin-top: 20px;
	padding-bottom: 10px; 
	margin-bottom: 20px;
}

.column-3-left-full {
	grid-column: 1;
	grid-row: 1 /span 2;
}

.column-3-right-top {
	grid-column: 2;
	grid-row: 1;
}

.column-3-right-bot {
	grid-column: 2;
	grid-row: 2;
}

.column-3-title {
	grid-column: 1;
	grid-row: 1;
}

.column-3-text {
	grid-column: 1;
	grid-row: 2;
}

.sub-row-bar-{
	display: grid;
	grid-template-rows: 50% auto; 
}

.sub-row-bar-1{
	grid-row: 1;
}

.sub-row-bar-2{
	grid-row: 2;
}


.credit-line{
	font-size: 10px;
	color: rgb(85, 85, 85);
}